# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.pyc

# IDE settings
.vscode/

# Local data or logs (optional, but good practice)
*.csv
*.log

# Ignore Heavy AI Models
custom_finbert_model/
*.json

# Ignore Massive Datasets
*.csv